<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>HOME</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="welcome" th:text="'Welcome, to phonebook ' + ${g_user.userName} + '!'"></h1>
    <div class="header">
        <div class="container-fluid nav-bar">
            <div class="container">


            </div>
        </div>
    </div>
    <div id="created" th:text="${#dates.format(date)}">April 26, 2016</div>
</div>
</body>
</html>